.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: rgb(12, 12, 12);
    color: white;
    padding-bottom: 50px;
}
.categoryTitle{
    background-color: rgb(12, 12, 12) ;
    margin: 0 0 ;
    color: wheat;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}
@media screen and (max-width:912px) {
    .categories{
        flex-direction: column;
    }
    .categoryTitle{
        font-size: 50px;
    }
    
}
@media screen and (max-width:555px) {
    
    .categoryTitle{
        font-size: 25px;
    }
    
}
